
html {
    scroll-behavior: smooth;
}
h1 {
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 280%;
    line-height: 50%;
    
}
h2 {
    
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 200%;
    line-height: 300%;
    white-space: nowrap;
}
h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    line-height: 200%;
   
}
a {
    color: #ffffff;
}
a:hover {
    text-decoration: none;
    color:#a6cfe3;
}
p {
    text-align: justify;
}

.navbar {
    margin-top: 983px;
    bottom: 0;
    height: 50px;
    width: 100%;
    border-bottom: 7px solid #04c2c9;
    transition: height .3s ease-out;
    -webkit-transition: height .3s ease-out;
    -moz-transition: height .3s ease-out;
    -ms-transition: height .3s ease-out;
    -o-transition: height .3s ease-out;
}

.navbar-nav{
    margin-left: 25%;
}

.navbar-brand {
    font-family: 'Audiowide', cursive;
    margin-left: 5%;
    font-size: 30px;

}

.nav-link:hover {
    color: red;
}


#About {
    padding-top: 60px;
}
#Projects {
    padding-top: 50px;
}
#Contacts {
    padding-top: 50px;
}

.row {
    padding-bottom: 70px;
    }

.border {
    padding: 10px 15px;
    margin-right: 5px;
}

.fas {
    font-size: 100px;
    color: #088377;
}

.info-box {
    padding-bottom: 80px;
}


.btn {
    color: #ffffff;
    background-color: #42173d;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    border: #ffffff 1px solid;
    padding: 10px 20px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.btn:hover {
    color: #191924;
    border: solid #ffffff 1px;
    background-color: #ffffff;
}

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    display: table;
    top: 0;
    }    
.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;

}
.content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10%;
}

.container {
    position: relative;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    
  }
   
.card {
    
    border: 1px solid #066b61;
    margin: auto;
    
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.card-img-top:hover {
    opacity: 0.5;
    transition: all 1s;
}



#contacts {
    overflow: auto;
    padding: 20px 30px 10px 30px;
    background-image: linear-gradient(to right,#066b61 , #b7ebe5);
    border: 1px solid rgb(183, 231, 240);
    border-radius: 10px 0px 10px 0px;
}

input[type=text] {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 5px;
  }

textarea {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.button {
    position: relative;
    background-color: rgb(17, 7, 7);
    border: none;
    color: white;
    padding: 10px 45px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.4;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .button:hover {opacity: 5}

/* Image Effects*/
.box {
    position: relative;
    width: 50%;
}

#image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
.box:hover #image {
    opacity: 0.3;
  }
  
.box:hover .middle {
    opacity: 1;
  }
  
.text {
    background-color: rgb(81, 28, 88);
    font-family: 'Nunito', sans-serif;
    color:#ffffff;
    font-size: 16px;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    -webkit-border-radius: 5px  ;
    -moz-border-radius: 5px  ;
    -ms-border-radius: 5px  ;
    -o-border-radius: 5px  ;
}


/*skill set*/
.skillset {
    margin: 0 auto;
    text-align: left;
}

@keyframes load{
    from {
      width: 0%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 0%
    }
  }
  @-moz-keyframes load{
    from {
      width: 0%
    }
  }
  @-o-keyframes load{
    from {
      width: 0%
    }
  }
  
  .bar{
    background-color: #EEE;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  .bar::before{
    content:  attr(data-skill);
    background-color: #f3b0ff;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
  }
  
  .bar.front::before{
    background-color: #ffcc33;
  }
  .bar.back::before{
    background-color: #a6cfe3;
  }
  
  .bar.learning::before{
    width: calc(20% - 10px);
  }
  .bar.basic::before{
    width: calc(40% - 10px);
  }
  .bar.intermediate::before{
    width: calc(60% - 10px);
  }
  .bar.advanced::before{
    width: calc(80% - 10px);
  }
  .bar.expert::before{
    width: calc(100% - 10px);
  }
  




/*Animated background*/
 @keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #42173d 20%, #191924 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
/*animated background ends*/

/*--- Media Queries --*/
@media screen and (max-width: 1366px) {
    .content {
        padding-bottom: 30%;
    }
    .content h1 {
        font-size: 200%;
    }
    .content h2 {
        font-size: 180%;
    }
    .btn {
        font-size: 150%;
        padding: 7px 15px;
    }
    
    .navbar {
        margin-top: 775px;
    } 
    
}

@media screen and (max-width: 1345px) {
    .content {
        padding-bottom: 30%;
    }
    .content h1 {
        font-size: 200%;
    }
    .content h2 {
        font-size: 180%;
    }
    .btn {
        font-size: 150%;
        padding: 7px 15px;
    }
    
    .navbar {
        margin-top: 43%;
    -webkit-margin-top: 43%  ;
    -moz-margin-top: 46%x  ;
    -ms-margin-top: 40%  ;
    -o-mrgin-top: 40%  ;
    } 
    
}


@media screen and (max-width: 1024px) {
    .content {
        padding-bottom: 30%;
    }
    .content h1 {
        font-size: 200%;
    }
    .content h2 {
        font-size: 180%;
    }
    .btn {
        font-size: 150%;
        padding: 7px 15px;
    }

    .navbar {
        margin-top: 1050px;
    }
    
    
}
@media screen and (max-width: 768px) {
    .content {
        padding-bottom: 40%;
    }
    .content h1 {
        font-size: 150%;
    }
    .content h2 {
        font-size: 110%;
    }
    .btn {
        font-size: 120%;
        padding: 7px 15px;
    }
    .navbar {
        margin-top: 600px;
    }
   

}
@media screen and (max-width: 480px) {
	.content {
        padding-bottom: 20%;
    }
    .content h1 {
        font-size: 130%;
    }
    .content h2 {
        font-size: 100%;
    }
    .btn {
        font-size: 100%;
        padding: 7px 15px;
    }
    .title {
        padding-top: 20px;
    }
    
    .navbar {
        margin-top: 810px;
    }

    .container {
        padding-top: 0px;
    }

    

}

footer {
    background:#232325;
   
}
footer .footnote {
    font-size: 10pt;
    color: #8F9AA7;
    margin-top: 35px;
    opacity: 0.6;
    text-align: center;
}
footer .footnote .highlight {
       color: #E31B6D;
}
/*Social Icons*/

.fab {
    font-size: 50px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.fab:hover {
    opacity: 0.7;
    font-size: 60px;
    
    
}
  
.navbar-toggler-icon {
    color: #FFFfff;
}
 
  


